html, body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.header{

    display: flex;
    justify-content: space-between;
    background: #1F2937;
    padding-bottom: 10%;

}
.header .left-links {
    display: flex;
    padding:0;
    padding-left: 10%;
    font-weight: bold;
    font-size: 24px;
    flex:1 1 0;
    
    }

.header .right-links{
    display: flex;
    gap: 40px;
    padding-right:10%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    
}

a {
    color: white;
    text-decoration: none;
    
}
ul {
    list-style: none;
}

.container-1{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    background-color: #1F2937;
   
   
    
   
}
.layer1-left{
    background-color: #1F2937;
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    padding-bottom: 10%;
    flex-shrink: 1;
    gap: 10px;
    

}

.layer1-right{
    display: flex;
    background-color: #1F2937;
    
    padding-right: 10%;
    width: 50%;
   
    
    

    

}
h1{
    margin:0;
    padding-right:400px;
    display: flex;
    color: white;
    font-size: 48px;
    font-weight: 900;
    
    
}

.text1{
    color:white;
    font-size: 18px;
    display:flex;
}


.img-box{
    
    max-height: 150px;
    width: 500px;
    border-radius: 7px;
    padding: 20px;
    border-style: solid;
    display: flex;
    
}

button {
    
    border: none;
    background: #eee;
    padding: 15px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: larger;
  }


  .container-2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding-left: 180px;
      padding-right: 180px;
      margin-top: 40px;
  }

  h2{
      display: flex;
      justify-content: center;
      margin: 0;
      font-size: 36px;
      font-weight: 900;
  }

  .card-container{
      display: flex;
      flex-wrap: wrap;
      margin: 3em 0 6em 0;
      justify-content: center;
      align-content: center;
      gap:25px;
  }
  .card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}